.container {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3% 16% auto 25% 3%;
    grid-template-rows: 1fr;
    height: 80px;
    width: 100%;
    background: #fbfbfb;
    color: #000;
    z-index: var(--z-index--level-two);

    .pages {
        display: flex;
        grid-column: 3;
        justify-content: center;
        align-items: center;

        a {
            margin-left: 20px;
            margin-right: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
        }
    }

    .link {
        color: #000;
    }
}
