.formulaForm {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	color: black;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	.title {
		margin-top: 5px;
		font-family: "Inter", sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		color: black;
		align-self: flex-start;
	}

	.inputBlock {
		margin-top: 15px;
		width: 100%;
		color: #000;
	}

	.textBlock {
		width: 100%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		font-size: 13.5px;
	}

	.inlineBlock {
		margin-top: 15px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.inlineElement {
		width: 100%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.inlineBtn {
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.submitBtn {
		margin-top: 15px;
		width: 100%;
	}
}
